<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <head>
	{% load static %}
	
      <title> Table </title>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> 
	  <link rel="stylesheet" type="text/css" href="{% static 'css/viewstudent.css' %}">
    </head>
    <body>
    	
        <h2 style="color: #448aff;text-align: center;"><U> Student Profile</U> </h2>
<hr>
  <table class="table table-striped">
    	
      
     
  </div>
</div>
  {% for sts in res %}
     
<tr>
<th><b>Reg</b></th>
<th>{{sts.0}}</th>
</tr>
<tr>
<th><b>Name</b></th>
<th>{{sts.1}}</th>
</tr>
<tr>
<th><b>Father Name</b></th>
<th>{{sts.2}}</th>
</tr>
<tr>
<th><b><b>Contact</b></th>
<th>{{sts.3}}</th>
</tr>
<tr>
<th><b>Branch</b></th>
<th>{{sts.4}}</th>
</tr>
<tr>
<th><b>Gender</b></th>
<th>{{sts.5}}</th>
</tr>
<tr>
<th><b>Address</b></th>
<th>{{sts.6}}</th>
</tr>

</th>
</tr>

{% endfor %}
</table>
     </tbody>
	
  </table>

    </body>
</html>